html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(-45deg, #e477c9, #c4b0c551, #de7af086, #2364d555);
    background-size: 400% 400%;
    animation: gradient 8s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}